<!--
    /client/partials/pollconfigure.html
    View / Template for the form to create a new item
-->
<h1>configure poll</h1>



<form>
  <table>
    <tr><td>Question: </td><td><input type="text" ng-model=poll.title></td></tr>
    <tr><td>option 1: </td><td><input type="text" ng-model=poll.option_one></td></tr>
    <tr><td>option 2: </td><td><input type="text" ng-model=poll.option_two></td></tr>
    <tr><td>option 3: </td><td><input type="text" ng-model=poll.option_three></td></tr>
    <tr><td>option 4: </td><td><input type="text" ng-model=poll.option_four></td></tr>
    <input type="hidden" ng-model=poll.username ng-value="username">
    <tr><td><input type="submit" value="create poll" ng-click=create()></td></tr>
  </table>
</form>
